{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1 class="title">Create new Season</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}"><button type="button" class="btn btn-warning">Back to list</button></a>
{% endblock %}
