{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1 class="title">Create new Program</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}"><button type="button" class="btn btn-warning">Back to list</button></a>
{% endblock %}
